<h2 mat-dialog-title>{{form && form.value.id ? 'Update skill' : 'Create skill'}}</h2>
<mat-dialog-content [formGroup]="form">

  <input formControlName="id" style="display: none">

  <div class="row">
    <mat-form-field class="col-12">
      <input matInput
        placeholder="Description"
        formControlName="description">
    </mat-form-field>
  </div>

</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="submit()">Save</button>
</mat-dialog-actions>
