<mat-list>
  <mat-list-item routerLink="{{routes.HOUSES}}" routerLinkActive="active">
    <mat-icon>house</mat-icon> Houses
  </mat-list-item>
  <mat-list-item routerLink="{{routes.USERS}}" routerLinkActive="active">
    <mat-icon>account_box</mat-icon> Users
  </mat-list-item>
  <mat-list-item *ngIf="currentPosition !== position.AGENT" routerLink="{{routes.SKILLS}}" routerLinkActive="active">
    <mat-icon>gesture</mat-icon> Skills
  </mat-list-item>
  <mat-list-item routerLink="{{routes.FEATURES}}" routerLinkActive="active">
    <mat-icon>control_camera</mat-icon> Features
  </mat-list-item>
</mat-list>

